.calltoaction_text {
  font-family: roboto;
  height: 12vh;
  padding-top: 20vh;
  margin-top: 1vh; 
  font-size: 35px;
  color: black;
  
}

.home_desktop {
  display: flex;
  width: 40vw;
  margin-left: 20vw;
}


@media screen and (max-width: 576px) {
  .home_phone {
    background-color: lightgray;
    background-image: lightgray;
  }
}

@media screen and (max-width: 768px) {
  .home_tablet {
    display: flex;
    width: 60vw;
    margin-right: 30vw;
  }
}